#Alfredo Moreira
#Put this file in a .circleci/ folder
#This file is to be used to run Github Status Checks
version: 2.1
orbs:
  node: circleci/node@5.0.3
  codecov: codecov/codecov@3.2.4
  jq: circleci/jq@2.2.0
  sonarcloud: sonarsource/sonarcloud@1.1.1
jobs:
  build:
    docker:
      - image: cimg/node:16.18.0
    working_directory: ~/control-panel
    steps:
      - checkout
      - run:
          name: Check Node Version
          command: node --version
      - run:
          name: Install Packages
          command: yarn install
      #save cache for use next tests
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Compile Binary
          command: yarn build

  e2e:
    parameters:
      group:
        type: integer
        default: 1
      group_name:
        type: string
        default: group
    environment:
      GROUP: << parameters.group >>
      GROUP_NAME: << parameters.group_name >>
    docker:
      # - image: cypress/base:16.17.1
      - image: cimg/node:16.18.0
        environment:
          TERM: xterm
      ## MongoDB
      - image: mongo:4.4.17
        environment:
          MONGO_INITDB_ROOT_USERNAME: user
          MONGO_INITDB_ROOT_PASSWORD: password
          MONGO_INITDB_DATABASE: asylum-connect
    steps:
      - checkout:
          path: control-panel
      # - run:
      #     name: Install OS dependencies
      #     command: apt-get update && apt-get install curl git gpg unzip -y
      - jq/install
      - run:
          name: Check Node Version
          command: node --version
      - run:
          name: Print API branch
          command: echo "Pulling branch $(jq -r '.api_ci_branch' control-panel/cypress.env.json) from inreach-api"
      - run:
          name: Pull API code
          command: git clone --branch $(jq -r '.api_ci_branch' control-panel/cypress.env.json) https://github.com/weareinreach/inreach-api.git
      - run:
          name: Create API Env File
          command: |
            cd inreach-api && cat \<< EOF > ./.env
            MAILGUN_API_KEY=$MAILGUN_API_KEY
            MAILGUN_DOMAIN=$MAILGUN_DOMAIN
            DB_URI=$DB_URI_STAGING
            ENV=TEST
            SHEETS_API_KEY=$SHEETS_API_KEY
            TEST_DB_URI=$TEST_DB_URI
            EOF
      - run:
          name: Install API Packages
          command: cd inreach-api && yarn install
      - run:
          name: 'Seed Docker DB'
          command: cd inreach-api && yarn seed-docker-db
      - run:
          name: Install Control Panel Packages
          command: cd control-panel && yarn install
      - run:
          name: Instantiate API And Run E2E tests
          command: (cd inreach-api && yarn dev-background) && (cd control-panel && yarn test:pre-e2e && yarn test:e2e:ci:local)
      - run:
          name: 'Show Coverage'
          command: 'cd control-panel && yarn show-coverage'
      - codecov/upload:
          file: 'control-panel/cypressCoverage/coverage-final.json'
          flags: Integration-${GROUP}
      - run:
          environment:
            GROUP: << parameters.group >>
          name: 'Generate Report'
          command: 'cd control-panel && yarn report:lcov'
      - store_artifacts:
          path: ./control-panel/lcov<< parameters.group >>/lcov.info
          destination: lcov<< parameters.group >>.info

  sonar:
    docker:
      - image: cypress/base:16.17.1
    steps:
      - checkout
      #Install dependencies
      - run:
          name: Install OS dependencies
          command: apt-get update && apt-get install curl git gpg unzip -y
      - run:
          name: 'Install dependencies'
          command: yarn add lcov-result-merger axios --dev
      #Download artifacts
      - run:
          name: 'Download reports'
          command: cd .circleci && node getLcovReports.js
      - run:
          name: 'Merge Records'
          command: ./node_modules/.bin/lcov-result-merger 'lcov-*.info' 'merged-lcov.info'
      - sonarcloud/scan

workflows:
  version: 2
  development:
    jobs:
      - build:
          filters:
            branches:
              only: dev
      - e2e:
          name: e2e-1
          group: 1
          group_name: group1
          filters:
            branches:
              only: dev
      - e2e:
          name: e2e-2
          group: 2
          group_name: group2
          filters:
            branches:
              only: dev
      - e2e:
          name: e2e-3
          group: 3
          group_name: group3
          filters:
            branches:
              only: dev
      - e2e:
          name: e2e-4
          group: 4
          group_name: group4
          filters:
            branches:
              only: dev
      - sonar:
          context: SonarCloud
          requires:
            - e2e-1
            - e2e-2
            - e2e-3
            - e2e-4
          filters:
            branches:
              only: dev

  pull_request:
    jobs:
      - build:
          filters:
            branches:
              ignore: [main, dev]
      - e2e:
          name: e2e-1
          group: 1
          group_name: group1
          filters:
            branches:
              ignore: [main, dev]
      - e2e:
          name: e2e-2
          group: 2
          group_name: group2
          filters:
            branches:
              ignore: [main, dev]
      - e2e:
          name: e2e-3
          group: 3
          group_name: group3
          filters:
            branches:
              ignore: [main, dev]
      - e2e:
          name: e2e-4
          group: 4
          group_name: group4
          filters:
            branches:
              ignore: [main, dev]
      - sonar:
          context: SonarCloud
          requires:
            - e2e-1
            - e2e-2
            - e2e-3
            - e2e-4
          filters:
            branches:
              ignore: [main, dev]
